.banner{
    background-color: var(--azul-escuro);
    padding: 5em 12.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-image: url("../assests/banner-background.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.container__banner__titulo{
    font-size: 4.875rem;
    font-weight: 800;
    font-family: var(--orbitron);
    color: var(--rosa);
    line-height: 90px;
    padding-bottom: 48px;
}

.container__banner__titulo-span{
    color: var(--verde);
}

.container__banner__botao{
    font-size: 1.25rem;
    color: var(--branco);
    font-family: var(--poppins);
    padding: 1em 1.5em;
    background-color: var(--roxo);
    border-radius: 2em;
}