.promocao{
    padding: 40px 12.5%;
}
.promocao__title{
    font-size: 2.43rem;
    color: var(--azul-medio);
    font-weight: 700;
    margin-bottom: 40px;
    font-family: var(--orbitron);
    line-height: 32px;
}

.promocao__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
}

.promocao__list__item{
    box-shadow: 0px 4px 24px 0px #780BF71F;
    background-color: var(--cinza-claro);
}

.promocao__item-title{
    font-size: 1.5rem;
    font-family: var(--orbitron);
    line-height: 120%;
    color: var(--azul-escuro);
    font-weight: 700;
}

.promocao__item-value{
    font-size: 2rem;
    font-family: var(--poppins);
    line-height: 150%;
    font-weight: 600;
    color: var(--azul-escuro);
}

.promocao__item-title, .promocao__item-value{
    padding: 16px 24px;
}

.promocao__item-img{
    width: 100%;
    object-fit: contain;
}