.rodape{
    background: var(--azul-escuro);
    padding: 32px 12.5%;

}

.rodape__linha__1{
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.rodape__linha__2{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: 
    "pagamento . . redes";
}

.rodape__pagamentos{
    grid-area: pagamento;
}

.rodape__redes{
    grid-area: redes;
}

.rodape__logo-descricao{
    font-size:1rem;
    color: var(--verde);
    line-height: 120%;
    font-weight: 400;
    padding-top: 24px;
}


.rodape__titulo, .rodape__descricao{
    color: var(--cinza-claro);
    font-family: var(--poppins);
    line-height: 120%;
}
.rodape__titulo{
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 16px;
}

.rodape__descricao{
    font-size: 1rem;
    font-weight: 400;
    padding: 4px 0;
}

.rodape-divisao{
    border: 1.5px solid var(--verde);
    margin: 24px 0;
}

.rodape__pagamento__lista, .rodape__redes__lista{
    display: flex;
    gap: 16px;
}

@media screen and (max-widtH: 768PX){
    .rodape__linha__1{
        grid-template-areas: 
        "logo logo logo"
        "Funcionamento Institucional Informacoes";
        gap: 24px;
    }

    .rodape__logo{
        grid-area: logo;
        text-align: center;
    }

    .rodape__funcionamento{
        grid-area: Funcionamento;
    }

    .rodape__institucional{
        grid-area: Institucional;
    }

    .rodape__informacoes{
        grid-area: Informacoes;
    }

    .rodape_divisao{
        border: none;
    }

}

@media screen and (max-width: 450px) {
    .rodape__linha__1, .rodape__linha__2{
        grid-template-columns: auto;
        grid-template-areas: 
        "logo"
        "funcionamento"
        "institucional"
        "informacoes"
        "pagamento"
        "redes";
        gap: 16px;
    }
    .rodape__logo{
        grid-area: logo;
    }
    .rodape__funcionamento{
        grid-area: funcionamento;
    }
    .rodape__institucional{
        grid-area: institucional;
    }
    .rodape__informacoes{
        grid-area: informacoes;
    }
    
    .rodape__pagamentos{
        grid-area: pagamento;
    }

    .rodape__redes{
        grid-area: redes;
    }
}